.courseDesc-container{
    width: 100%;
}

.courseDesc-img{
    width: 100%;
    max-height: 400px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 4px 4px #ccc;
    margin-left: 6em;
    margin-top: 6em;
}

.title{
    font-size: 32px;
    font-weight: 400;
    color: #4DC879;
    width: 100%;
    text-align: left;
    padding-left: 0.8em;
    margin: 0.4em;
    margin-top: 2em;
}

h4{
    font-size: 48px;
    padding-left: 0.8em;
    margin: 0;
    text-align: left;
}

p{
    font-size: 18px;
    text-align: left;
    padding-left: 2.2em;
    width: 100%;
    color: rgba(0,0,0,0.7);
}

.explore-btn{
    float: left;
    margin-left: 2.8em;
    width: fit-content;
    font-size: 16px;
    padding: 0.8em;
    border: none;
    border-radius: 10px;
    background-color: #272727;
    color: #fff;
}

.explore-btn:hover{
    color: #272727;
    background-color: #4DC879;
}

.key-features-container{
    margin-top: 4em;
    padding-left: 4em;
}

.key-features-heading{
    text-align: left;
    color: rgba(0,0,0,0.7);
    font-weight: 500;
}

.key-features-div{
    padding: 1em 2em 0em 2em;
    text-align: left;
    font-size: 16px;
    color: rgba(0,0,0,0.7);
}

.key-features-title{
    font-weight: 700;
}

.instructor-container{
    border: 1px solid #ccc;
    box-shadow: 4px 4px 2px #ccc;
    width: 40%;
    border-radius: 8px;
    margin: auto;
    padding: 2em;
}

.instructor-img{
    width: 100px;
    border-radius: 50%;
}

.instructor-container h6{
    color: rgba(0,0,0,0.7);
}

.instructor-container p{
    font-size: 16px;
}

@media screen and (max-width:1022px) {
    .title{
    margin-top: 3em;

    }
}


@media screen and (max-width:768px) {
    .courseDesc-img{
        width: 100%;
        margin-left: 3em;
        margin-top: 10em;
    }

    .title{
        font-size: 24px;
    margin-top: 3em;

    }

    h4{
        font-size: 32px;
    }

    p{
        font-size: 16px;
        padding-left: 1.6em;
    }

    .explore-btn{
        margin-left: 2.2em;
    }

}

@media screen and (max-width:599px) {
    .courseDesc-img{
        width: 100%;
        margin-left: 3em;
        margin-top: 5em;
    }

    .title{
        margin-top: 1em;
    }
    
}